.App {
  text-align: center;
}
button {
  margin-top: 20%;
  font-size: 22px;
}
#factHead {
  color: white;
  font-size: 60px;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
}
#footer {
  color: white;
  background-color: rgb(2, 2, 12);
  box-sizing: border-box;
  box-shadow: 2rem;
  margin: 180px;
  /* margin-bottom: 100px; */
}
#footer:hover {
  color: yellow;
}
.foot {
  background-color: black;
}
#submit {
  color: antiquewhite;
  background-color: black;
  box-sizing: border-box;
  box-shadow: 2rem;
  border-radius: 20px;
}
#submit:hover {
  color: gold;
}
.task {
  background-color: black;
}
#num {
  border-radius: 20px;
  margin: 3px;
}
